<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwXlML0SuGpAgjr8jQbj529hF6cef7pc4</string>
	<key>GCM_SENDER_ID</key>
	<string>275057923056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.ballotaccesspro.com</string>
	<key>PROJECT_ID</key>
	<string>nnu-income-programme</string>
	<key>STORAGE_BUCKET</key>
	<string>nnu-income-programme.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275057923056:ios:48605411bff95305594335</string>
	<key>DATABASE_URL</key>
	<string>https://nnu-income-programme.firebaseio.com</string>
</dict>
</plist>